:root{
      --primary-color:#f4a261;
      --secondary-color:#aec3b0;
      --text-color:#264653;
}

*, *::before, *::after{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      list-style: none;
}